html {
  box-sizing: border-box;
  line-height: 1.3;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px;
  margin-left: 1px;
  font-family: "Crimson Text";
  padding: 1rem;
  border: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.line-1 {
  height: 1px;
  background: #555;
}

header {
article header {
  font-weight: normal;
  margin-bottom: 1em;
  padding-bottom: 0;
  border-bottom: 1px solid #555;
  line-height: 10px;
  line-height: 1.3rem;
}

body {
  margin: 35px 2px;
  margin: 0;
}

article {
  color: #222;
  border-bottom: 1px solid #555;
  margin: 10px .5px;
}

article header p {
  font-style: italic;
  font-size: 1.125rem;
  font-size: 1rem;
  color: #222;
}

article header {
  font-weight: normal;
}

h1 + p {
  line-height: 0;
  padding: 0;
  margin: 8px 0;
}

article h1 {
@@ -51,23 +45,29 @@ article h1 {
  font-family: serif;
  font-weight: normal;
  color: #222;
  margin-bottom: .5px;
  padding: 0;
  line-height: 1rem;
}

article p {
  color: #222;
  line-height: 1.3rem;
}

article ol {
  color: #222;
  padding-left: 1rem;
  margin-bottom: 1px;
}

blockquote {
  color: #999;
  font-size: 1.125rem;
  font-family: italic;
  padding-bottom: 0;
}

.quote {
  font-size: 1em;
  color: #999;
}
